body {
	background-color: #000000;
	margin-top: 50px;
}

#global {
	background-color: rgba(240,240,240,0.6);
	padding: 50px;
	margin-bottom: 50px;
	color: #000000;
}

.alert {
	background-color: #FFFFFF;
	color: #000000;
}

.show-alert table {
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.container-bail {
	width: 90%;
	margin-left: 5%;
}