body {
	background-color: #000000;
	margin-top: 20px;
}

#global {
	background-color: rgba(240,240,240,0.6);
	padding: 50px;
	margin-bottom: 50px;
	color: #000000;
}

.table-alert {
	background-color: #FFFFFF;
	color: #000000;
}

.show-alert table {
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.container-bail {
	width: 96%;
	margin-left: 2%;
}

.alert-danger {
	color : #FFFFFF;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.alert-warning {
    color: #FFFFFF;
    background-color: #f0ad4e;
	border-color: #eea236;
}

.alert-success {
	color: #FFFFFF;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.alert-link {
    text-decoration: none !important;
}

tr:hover .alert-danger {
	color : #FFFFFF;
	background-color: #d43f3a;
	border-color: #d43f3a;
}

tr:hover .alert-warning {
    color: #FFFFFF;
    background-color: #eea236;
    border-color: #eea236;
}

tr:hover .alert-success {
	color: #FFFFFF;
    background-color: #4cae4c;
    border-color: #4cae4c;
}

tr .alert {
	border-radius: 0px;
}

.clickable-row {
    cursor: pointer;
}